.error {
    color: #fca5a5;
    margin-bottom: 12px;
    background: #7f1d1d;
    border-radius: 6px;
}

.ethereum-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

.container-full {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background: #374151;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    border: 1px solid #4b5563;
    text-align: center;
}

.wallet-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.wallet-address {
    background: rgba(255, 255, 255, 0.719);
    color: #10b981;
    padding: 15px;
    border-radius: 8px;
    margin: 20px;
    font-family: monospace;
    font-size: 0.9rem;
    border-left: 4px solid #10b981;
    word-break: break-word;
}


@media (max-width: 768px) {
    .wallet-header {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

.wallet-signer {
    background: #374151;
    padding: 20px;
    border-radius: 12px;
    margin: 20px 0;
    border: 1px solid #4b5563;
}

.wallet-signer textarea {
    width: 100%;
    min-height: 100px;
    background: #1f2937;
    border: 2px solid #6b7280;
    border-radius: 8px;
    padding: 12px;
    color: #e5e7eb;
    margin-bottom: 12px;
}

.wallet-signer button {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.history-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 12px 0;
    width: 100%;
}

.history {
    background: #1f2937;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 12px;
    border: 1px solid #4b5563;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;

}

@media (max-width: 768px) {
    .history-container {
        grid-template-columns: 1fr;
    }
}

.form-header {
    display: flex;
    gap: 50px;
    align-items: center;
}

.form-header button {
    color: black;
}

.button-group {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.otp-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 20px 0;
}

.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.otp-input:focus {
    border-color: #007bff;
    outline: none;
}